doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="icon" href="images/favicon.png")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous").
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous").
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous").
        script(src="javascripts/index.js")
    body
        if error === undefined
            nav.navbar.navbar-expand-md.navbar-light.bg-light: .container
                a.navbar-brand(id="homeIcon")
                    img.d-inline-block.align-top(src=logo height="30" alt="Profile Picture")

                ul.navbar-nav.mr-auto
                    li.nav-item.active: a.nav-link(id="homeText" href="javascript:") Home
                    li.nav-item: a.nav-link(id="myReviews" href="javascript:") My Reviews
                    li.nav-item: a.nav-link(id="myCritiques" href="javascript:") My Critiques

                div(style="display:none;'")
                    a.navbar-text.mr-2(id="username" href="javascript:")
                    a.navbar-brand(id="userIcon" href="#"): img(height="30" alt="Profile Picture")
                div
                    form.form-inline: button.btn.btn-outline-success(type="button") Log in

        #content.container
            block content