div.form-group
    label(for="exampleInputEmail1") Username
    input#exampleInputEmail1.form-control(type="text" aria-describedby="emailHelp" placeholder="Username")

div.form-group
    label(for="exampleInputPassword1") Password
    input#exampleInputPassword1.form-control(type="password" placeholder="Password")

p#message.text-danger.text-md-left

button#loginButton.btn.btn-success Log In
