<h1>About Page</h1>
<p>This website is a peer review system! which could be used to review programming summatives for example!</p>

<h2>How does it work?</h2>
<p>This is the chain of events:</p>
<ul>
  <li>You submit your work</li>
  <li>You review other peoples work</li>
  <li>You review other peoples reviews of work</li>
  <li>You accept or reject other peoples reviews of your review!</li>
  <li>Done!</li>
</ul>

<h2>Get started by logging in!</h2>